<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <head>
    <title>Analysis limits</title>
	<script type="text/javascript" src="/static/script/libs/jquery-2.1.0.min.js"></script>
	<link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/reportstyle.css" />
    <link rel="stylesheet" type="text/css" href="/static/daddy.css" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/mainpage.css" />
  </head>
  <body>
	<div class="report">
	<div id="Main" class="content" style="display: block; visibility: visible;">
	<div><a href="/"><a href="/"><img src="/static/img/logo.jpg"/></a></a><p class="version">Analysis software version ${version.simple}</p></div>
	<span class="no_print"><br/><a href="/"><button class="btn btn-primary">Back</button></a></span>    <br />    <br />
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close close-alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>
    </div>

	<h2>Analysis limits</h2>
    <span class="errormsg no_print"></span>
    <form id="save" method="post" action="">
    <div class="form-inline">
        <button id="save_button" class="btn btn-warning" type="submit" value="recalculate">Save and Recalculate All</button>
        <button id="save_button" class="btn btn-primary" type="submit" value="norecalculate">Save Only</button>
        <div class="input-group">
            <select id="dbList" class="form-control" name="filepath">
                <option value="${path}" selected="${cur}" py:for="path, cur in dbfiles.items()">
                    ${path.split("\\")[-1]}
                </option>
            </select>
            <span class="input-group-btn">
                <button id="importButton" class="btn btn-success" type="submit" value="import">
                    Import Settings from Database
                </button>
            </span>
        </div>
    </div>
    <!-- Hidden button for submitting form when changing DUT in dropdown. -->
    <button id="changeButton" type="submit" hidden="hidden"></button>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped listtable dut_settings_table">
                <tr>
                    <td class="setting_name">DUT</td>
                    <td class="input-group setting_input">
                        <select id="dutList" class="form-control" onchange="getElementById('changeButton').click()">
                            <option py:for="dut in duts" value="${dut}"
                                    py:attrs="{'selected': True if dut == current_dut else None}">
                                ${dut if dut != "" else "[default]"}
                            </option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit" value="add_dut">Add</button>
                            <button class="btn btn-danger" type="submit" value="remove_dut" py:if="current_dut">
                                Remove
                            </button>
                        </span>
                    </td>
                </tr>
                <tr py:attrs="{'hidden': True if current_dut == '' else None}">
                    <td class="setting_name">Name</td>
                    <td class="setting_input">
                        <input id="dutInput" name="dutInput" class="form-control setting_value_input" type="text"
                               value="${current_dut}"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div py:for="group in groups">
      <h3>${", ".join(group[0]) if group[0] is not None else 'Uncategorized'}</h3>
        <div class="row">
            <div class="col-md-6">
        	  <table class="table table-striped listtable settings_table">
        	  <tr>
        		  <th class="setting_name">Setting</th>
        		  <th class="setting_input">Value</th>
        	  </tr>
        	  <tr py:for="setting in group[1]">
        		  <td class="setting_name">${setting.desc}</td>
        		  <td class="setting_input">
                    <input class="input-sm setting_value_input" type="text" name="${setting.name}"
                           value="${get_setting(setting.name, current_dut)}"/> ${setting.unit}
                  </td>
        	  </tr>
        	  </table>
            </div>
        </div>
  	  <br/><br/>
    </div>
    <button id="save_button" class="btn btn-warning" type="submit" value="recalculate">Save and Recalculate All</button>
    <button id="save_button" class="btn btn-primary" type="submit" value="norecalculate">Save Only</button>
    </form>
    <br /><br />
	</div>
	<div id="loading">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-md-6">
                <br/><br/>
                <p>Recalculating analysis. Please wait.</p>
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <span class="prog"></span> %
        </div>
        </div>
        <br/><br/>
        </div>
        </div>
    </div>
	</div>
    <script type="text/javascript" src="/static/script/libs/jquery-2.1.0.min.js"/>
    <script type="text/javascript" src="/static/script/settings.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>