    <div xmlns:py="http://genshi.edgewall.org/">
    <h3>One Finger Swipe Test Summary</h3>
    <table class="datatable test_verdicts">
        <tr>
            <th>Quantity</th>
            <th>Value</th>
            <th>Maximum allowed</th>
            <th>Pass/Fail</th>
        </tr>
        <tr py:if="results.nondiagonal_swipes or not results.use_diagonal_jitter">
            <td>Max Digitizer Jitter</td>
            <td>${"%s mm" % results.max_jitter if results.max_jitter is not None else "N/A"}</td>
            <td py:with="maxjitter=get_setting('maxjitter', dut.sample_id)">
                ${"%.3f mm" % maxjitter if maxjitter is not None else "N/A"}
            </td>
            <td class="${'passed' if results.jitter_verdict =='Pass' else 'failed'}">$results.jitter_verdict</td>
        </tr>
        <tr py:if="results.diagonal_swipes and results.use_diagonal_jitter">
            <td>Max Jitter (diagonal)</td>
            <td>${"%s mm" % results.max_diagonal_jitter}</td>
            <td py:with="maxjitter=get_setting('maxdiagjitter', dut.sample_id)">
                ${"%.3f mm" % maxjitter if maxjitter is not None else "N/A"}
            </td>
            <td class="${'passed' if results.diagonal_jitter_verdict =='Pass' else 'failed'}">$results.diagonal_jitter_verdict</td>
        </tr>
        <tr>
            <td>Average Max Digitizer Jitter</td>
            <td>${"%s mm" % results.average_max_jitter if results.average_max_jitter is not None else "N/A"}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Average Digitizer Jitter</td>
            <td>${"%s mm" % results.average_jitter if results.average_jitter is not None else "N/A"}</td>
            <td></td>
            <td></td>
        </tr>
        <tr py:if="results.nondiagonal_swipes or not results.use_diagonal_offset">
            <td>Max Digitizer Offset</td>
            <td>${"%s mm" % results.max_offset if results.max_offset is not None else "N/A"}</td>
            <td py:with="maxoffset=get_setting('maxoffset', dut.sample_id)">
                ${"%.3f mm" % maxoffset if maxoffset is not None else "N/A"}
            </td>
            <td class="${'passed' if results.offset_verdict =='Pass' else 'failed'}">$results.offset_verdict</td>
        </tr>
        <tr py:if="results.diagonal_swipes and results.use_diagonal_offset">
            <td>Max Offset (diagonal)</td>
            <td>${"%s mm" % results.max_diagonal_offset}</td>
            <td py:with="maxoffset=get_setting('maxdiagoffset', dut.sample_id)">
                ${"%.3f mm" % maxoffset if maxoffset is not None else "N/A"}
            </td>
            <td class="${'passed' if results.diagonal_offset_verdict =='Pass' else 'failed'}">$results.diagonal_offset_verdict</td>
        </tr>
        <tr>
            <td>Average Max Digitizer Offset</td>
            <td>${"%s mm" % results.average_max_offset if results.average_max_offset is not None else "N/A"}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Average Digitizer Offset</td>
            <td>${"%s mm" % results.average_offset if results.average_offset is not None else "N/A"}</td>
            <td></td>
            <td></td>
        </tr>
        <tr py:with="maxmissingswipes=get_setting('maxmissingswipes', dut.sample_id)">
            <td>Missing swipes</td>
            <td>${results.missing_count}/${results.swipe_count}</td>
            <td>${"%d" % maxmissingswipes}</td>
            <td class="${'passed' if maxmissingswipes >= results.missing_count else 'failed'}">
                ${"Pass" if maxmissingswipes >= results.missing_count else "Fail"}
            </td>
        </tr>
        <tr py:with="maxincompleteswipes=get_setting('maxincompleteswipes', dut.sample_id)">
            <td>Incomplete swipes</td>
            <td>${results.incomplete_swipes}/${results.swipe_count}</td>
            <td>${"%d" % maxincompleteswipes}</td>
            <td class="${'passed' if maxincompleteswipes >= results.incomplete_swipes else 'failed'}">
                ${"Pass" if maxincompleteswipes >= results.incomplete_swipes else "Fail"}</td>
        </tr>
    </table>

    <table class="datatable test_verdicts">
        <tr>
            <th>Quantity</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Max Error (Linear Fit)</td>
            <td>${"%.3f mm" % results.max_offset_from_linear_fit if results.max_offset_from_linear_fit is not None else "N/A"}</td>
        </tr>
        <tr>
            <td>Mean of Max Errors</td>
            <td>${"%.3f mm" % results.avg_of_offsets_from_linear_fit if results.avg_of_offsets_from_linear_fit is not None else "N/A"}</td>
        </tr>
    </table>
    
    <!-- Preview image -->

    <div py:if="'noimages' not in kwargs" class="preview">
      <a href="${detailed_figure}">
        <img src="${figure}" width="800" height="600" alt="Swipe preview image"/>
      </a>
    </div>

      <!-- Preview table -->
	<div class="dtable no_print">
		<div class="dtable_row subplot_selector">
		    <div class="dtable_header narrow_cell">Toggle:
            </div><div class="dtable_header narrow_cell subplot_button"><button class="all_lines_button">All</button>
            </div><div class="dtable_header narrow_cell subplot_button"><button class="failed_lines_button">Failed</button>
            </div><div class="dtable_header narrow_cell subplot_button"><button class="passed_lines_button">Passed</button></div>
        </div>
    </div>

	<div class="dtable subplot_table">
		<div class="dtable_header_row">
			<div class="dtable_header narrow_cell">Swipe ID
            </div><div class="dtable_header narrow_cell" py:if="len(azimuth_angles) > 0">Azimuth
            </div><div class="dtable_header narrow_cell" py:if="len(tilt_angles) > 0">Tilt
            </div><div class="dtable_header narrow_cell">Max Jitter
            </div><div class="dtable_header narrow_cell">Avg Jitter
            </div><div class="dtable_header narrow_cell">Max Offset
            </div><div class="dtable_header narrow_cell">Avg Offset
            </div><div class="dtable_header narrow_cell">Swipe Gaps
            </div><div class="dtable_header narrow_cell">Pass/Fail
            </div><div class="dtable_header no_print">Detailed plot</div>
		</div>
		<div py:for="swipe in results.swipes" class="dtable_row plot_header">
			<div class="dtable_cell narrow_cell">${swipe[0]}
            </div><div class="dtable_cell narrow_cell" py:if="len(azimuth_angles) > 0"> ${"%s" % swipe[5]}
            </div><div class="dtable_cell narrow_cell" py:if="len(tilt_angles) > 0"> ${"%s" % swipe[6]}
            </div><div class="dtable_cell narrow_cell"> ${"%s mm" % swipe[1] if swipe[1] is not None else "N/A"}
            </div><div class="dtable_cell narrow_cell"> ${"%s mm" % swipe[8] if swipe[8] is not None else "N/A"}
            </div><div class="dtable_cell narrow_cell"> ${"%s mm" % swipe[2] if swipe[2] is not None else "N/A"}
            </div><div class="dtable_cell narrow_cell"> ${"%s mm" % swipe[9] if swipe[9] is not None else "N/A"}
            </div><div class="dtable_cell narrow_cell"> ${"%s" % swipe[7] if swipe[7] is not None else "N/A"}
            </div><div class="dtable_cell narrow_cell ${'passed' if swipe[3]=='Pass' else 'failed'}"> ${swipe[3]}
            </div><div class="dtable_cell no_print"><button type="button" class="show_plot">Show/Hide</button>
            </div><div class="plot" data-src="${swipe[4]}"/>
		</div>		

    </div>
     <!--Split html from here for the page showing all test results-->
     <!--split-->
	</div>

