    <div xmlns:py="http://genshi.edgewall.org/">
    <h3>One Finger Stationary Reporting Rate Test Summary</h3>
    <table class="datatable test_verdicts">
        <tr>
            <th class="wide"></th>
            <th>Value</th>
            <th>Threshold</th>
            <th class="Narrow">Pass/Fail</th>
        </tr>
        <tr>
            <td class="vertical_header_th">Minimum Reporting Rate</td>
            <td>${"N/A" if slowest_reporting_rate is None else "%s Hz" % slowest_reporting_rate}</td>
            <td>${"%s" % get_setting('minreportingrate', dut.sample_id)} Hz</td>
            <td class="${'passed' if slowest_verdict == 'Pass' else 'failed'}" >${slowest_verdict}</td>
        </tr>
        <tr>
            <td class="vertical_header_th">Average Minimum Reporting Rate</td>
            <td>${"N/A" if average_slowest_reporting_rate is None else "%6.3f Hz" % average_slowest_reporting_rate}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="vertical_header_th">Average Reporting Rate</td>
            <td>${"N/A" if average_reporting_rate is None else "%6.3f Hz" % average_reporting_rate}</td>
            <td>${"%s" % get_setting('minavgreportingrate', dut.sample_id)} Hz</td>
            <td class="${'passed' if avg_verdict == 'Pass' else 'failed'}" >${avg_verdict}</td>
        </tr>
    </table>

    <div py:if="'noimages' not in kwargs" class="preview">
    <a href="${detailed_figure}">
        <img src="${figure}" width="800" height="600" alt="Preview image"/>
    </a>
    </div>

	<div class="dtable no_print">
		<div class="dtable_row subplot_selector">
		    <div class="dtable_header narrow_cell">Toggle:
            </div><div class="dtable_header narrow_cell subplot_button"><button class="all_lines_button">All</button>
            </div><div class="dtable_header narrow_cell subplot_button"><button class="failed_lines_button">Failed</button>
            </div><div class="dtable_header narrow_cell subplot_button"><button class="passed_lines_button">Passed</button></div>
        </div>
    </div>

	<div class="dtable subplot_table">
		<div class="dtable_header_row">
			<div class="dtable_header narrow_cell">Point ID
            </div><div class="dtable_header">Max Reporting Rate
            </div><div class="dtable_header">Min Reporting Rate
            </div><div class="dtable_header">Avg Reporting Rate
            </div><div class="dtable_header narrow_cell">Pass/Fail
            </div><div class="dtable_header no_print">Detailed plot</div>
		</div>
		<div py:for="point in detailed_data" class="dtable_row plot_header">
			<div class="dtable_cell narrow_cell">${point[0]}
            </div><div class="dtable_cell">${"%s Hz" % point[1] if point[1] != None else "N/A"}
            </div><div class="dtable_cell">${"%s Hz" % point[2] if point[2] != None else "N/A"}
            </div><div class="dtable_cell">${"%s Hz" % point[3] if point[3] != None else "N/A"}
            </div><div class="dtable_cell narrow_cell ${'passed' if point[4] == 'Pass' else 'failed'}">${point[4]}
            </div><div class="dtable_cell no_print"><button type="button" class="show_plot">Show/Hide</button>
            </div><div class="plot" data-src="${point[5]}"/>
		</div>
    </div>

    <div class="clear"></div>
     <!--Split html from here for the page showing all test results-->
     <!--split-->
    </div>
